SupplierSite/thebigfour/thebigfour/Service References/SvcRefBoxWear/WsBoxWear1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsBoxWear" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62478/WsBoxWear.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62478/WsBoxWear.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62478/WsBoxWear.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsBoxWear_GetPOList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPOList" />
  </wsdl:message>
  <wsdl:message name="IWsBoxWear_GetPOList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPOListResponse" />
  </wsdl:message>
  <wsdl:message name="IWsBoxWear_GetOrderDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetails" />
  </wsdl:message>
  <wsdl:message name="IWsBoxWear_GetOrderDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IWsBoxWear_updatePOStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePOStatus" />
  </wsdl:message>
  <wsdl:message name="IWsBoxWear_updatePOStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePOStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsBoxWear">
    <wsdl:operation name="GetPOList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsBoxWear/GetPOList" message="tns:IWsBoxWear_GetPOList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsBoxWear/GetPOListResponse" message="tns:IWsBoxWear_GetPOList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsBoxWear/GetOrderDetails" message="tns:IWsBoxWear_GetOrderDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsBoxWear/GetOrderDetailsResponse" message="tns:IWsBoxWear_GetOrderDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePOStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsBoxWear/updatePOStatus" message="tns:IWsBoxWear_updatePOStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsBoxWear/updatePOStatusResponse" message="tns:IWsBoxWear_updatePOStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsBoxWear" type="tns:IWsBoxWear">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPOList">
      <soap:operation soapAction="http://tempuri.org/IWsBoxWear/GetPOList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <soap:operation soapAction="http://tempuri.org/IWsBoxWear/GetOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePOStatus">
      <soap:operation soapAction="http://tempuri.org/IWsBoxWear/updatePOStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsBoxWear">
    <wsdl:port name="BasicHttpBinding_IWsBoxWear" binding="tns:BasicHttpBinding_IWsBoxWear">
      <soap:address location="http://localhost:62478/WsBoxWear.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>