SupplierSite/thebigfour/thebigfour/Service References/SvcRefJudoVan/WsJudoVan1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getDeliveryStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="trackingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDeliveryStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDeliveryStatusResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weight" type="xs:decimal" />
        <xs:element minOccurs="0" name="deliveryStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PoID" type="xs:int" />
        <xs:element minOccurs="0" name="invoiceID" type="xs:int" />
        <xs:element minOccurs="0" name="dateRegistered" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deliveryType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductQty" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createDeliveryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>