SupplierSite/thebigfour/thebigfour/Service References/SvcRefJudoVan/WsJudoVan.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsJudoVan" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65481/WsJudoVan.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65481/WsJudoVan.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65481/WsJudoVan.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsJudoVan_getDeliveryStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:getDeliveryStatus" />
  </wsdl:message>
  <wsdl:message name="IWsJudoVan_getDeliveryStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDeliveryStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IWsJudoVan_createDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:createDelivery" />
  </wsdl:message>
  <wsdl:message name="IWsJudoVan_createDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:createDeliveryResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsJudoVan">
    <wsdl:operation name="getDeliveryStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsJudoVan/getDeliveryStatus" message="tns:IWsJudoVan_getDeliveryStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsJudoVan/getDeliveryStatusResponse" message="tns:IWsJudoVan_getDeliveryStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsJudoVan/createDelivery" message="tns:IWsJudoVan_createDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsJudoVan/createDeliveryResponse" message="tns:IWsJudoVan_createDelivery_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsJudoVan" type="tns:IWsJudoVan">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDeliveryStatus">
      <soap:operation soapAction="http://tempuri.org/IWsJudoVan/getDeliveryStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createDelivery">
      <soap:operation soapAction="http://tempuri.org/IWsJudoVan/createDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsJudoVan">
    <wsdl:port name="BasicHttpBinding_IWsJudoVan" binding="tns:BasicHttpBinding_IWsJudoVan">
      <soap:address location="http://localhost:65481/WsJudoVan.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>